---
import { Send } from "@lucide/astro";
---

<section id="contact" class="py-20 px-4">
  <div class="max-w-6xl mx-auto">
    <div class="text-center mb-12">
      <h2 class="text-4xl font-bold mb-4 flex gap-5 justify-center m-auto">
        Want to chat?
      </h2>
      <p class="text-lg text-base-content/70 max-w-2xl m-auto">
        Send me a dm on <a
          class="text-primary"
          href="https://bsky.app/profile/hadi1842.bsky.social">bsky</a
        > or a mail to <span class="text-primary"
          >anotherhadi.clapped234[at]passmail.net</span
        > and I'll respond whenever I can.
        <br />Use my <a class="text-primary" href="/anotherhadi.asc">gpg key</a>
        for secure communication.
      </p>
    </div>
  </div>
</section>
